{
  "swagger" : "2.0",
  "info" : {
    "description" : "Last Updated: 2021-07-08",
    "version" : "1.0.0",
    "title" : "BackOffice API"
  },
  "host" : "api.infinicept.com",
  "basePath" : "/api",
  "schemes" : [ "https" ],
  "paths" : {
    "/{tenantId}/adjustments" : {
      "get" : {
        "tags" : [ "Adjustments" ],
        "summary" : "Request All Adjustments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "DateFilter",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "enum" : [ "All", "Today", "Yesterday", "ThisWeek", "ThisMonth", "ThisYear", "LastYear", "DateRange", "SpecificDate" ]
        }, {
          "name" : "DateFilterType",
          "in" : "query",
          "description" : "<b>ActivityDate:</b> Date/Time the transaction occurred with the merchant. \n\n <b>SettlementDate:</b> (TransactionSettlementDate in transaction record) Date/Time the transaction money is moved to the FBO/Submerchants accounts after settlement. Usually the same as ProcessedDate but not always. \n\n <b>SubmittedDate:</b> (SettlementDate in transaction record) Date/Time when funding instructions for this transaction were sent to processor to move purchase/refund money from FBO to submerchant accounts. \n\n <b>ProcessedDate:</b> Date/Time when the transaction was sent for processing. This has nothing to do with money movement, just information.",
          "required" : false,
          "type" : "string",
          "enum" : [ "ActivityDate", "SettlementDate", "SubmittedDate", "ProcessedDate" ]
        }, {
          "name" : "FromDate",
          "in" : "query",
          "description" : "<b>DateFilter:DateRange</b> is required when using this field.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "ToDate",
          "in" : "query",
          "description" : "<b>DateFilter:DateRange</b> is required when using this field.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "SpecificDate",
          "in" : "query",
          "description" : "<b>DateFilter:SpecificDate</b> is required when using this field.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "Id",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int32"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "AdjustmentType",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "TransferTo", "TransferFrom" ]
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/AdjustmentPaginatedResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Adjustments" ],
        "summary" : "Create a Manual Adjustment",
        "consumes" : [ "application/json-patch+json", "application/json", "text/json", "application/*+json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/AdjustmentRequest"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/CommandInfoResponse"
              }
            }
          }
        }
      }
    },
    "/{tenantId}/adjustments/{id}" : {
      "get" : {
        "tags" : [ "Adjustments" ],
        "summary" : "Request Adjustment by ID",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/Adjustment"
            }
          }
        }
      }
    },
    "/{tenantId}/Chargebacks/paginated" : {
      "get" : {
        "tags" : [ "Chargebacks" ],
        "summary" : "Review Paginated Chargebacks",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "status",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "enum" : [ "New", "RetrievalNew", "Chargeback", "ChargebackReversal" ]
        }, {
          "name" : "Network",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "Unknown", "Visa", "MasterCard", "AmericanExpress", "Discover", "JCB", "Europay", "PrivateLabel", "PayPal", "JackHenryACH", "DinersClubInternational", "Debit", "ACH", "ChinaUnionPay", "Adjustment" ]
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "Arn",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "CardBin",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "CardLastFour",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "CaseId",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "ReasonCode",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "MinAmount",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "MaxAmount",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "SubmerchantId",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int32"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "TransactionDateFilter",
          "in" : "query",
          "description" : "The date the transaction record was created in Infinicept.",
          "required" : false,
          "type" : "string",
          "enum" : [ "All", "Today", "Yesterday", "ThisWeek", "ThisMonth", "ThisYear", "LastYear", "DateRange", "SpecificDate" ]
        }, {
          "name" : "TransactionFromDate",
          "in" : "query",
          "description" : "<b>TransactionDateFilter:DateRange</b> is required when using this field.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "TransactionToDate",
          "in" : "query",
          "description" : "<b>TransactionDateFilter:DateRange</b> is required when using this field.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "TransactionSpecificDate",
          "in" : "query",
          "description" : "<b>TransactionDateFilter:SpecificDate</b> is required when using this field.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "ChargebackDateFilter",
          "in" : "query",
          "description" : "The date the chargeback record was created in Infinicept.",
          "required" : false,
          "type" : "string",
          "enum" : [ "All", "Today", "Yesterday", "ThisWeek", "ThisMonth", "ThisYear", "LastYear", "DateRange", "SpecificDate" ]
        }, {
          "name" : "ChargebackFromDate",
          "in" : "query",
          "description" : "<b>ChargebackDateFilter:DateRange</b> is required when using this field.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "ChargebackToDate",
          "in" : "query",
          "description" : "<b>ChargebackDateFilter:DateRange</b> is required when using this field.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "ChargebackSpecificDate",
          "in" : "query",
          "description" : "<b>ChargebackDateFilter:SpecificDate</b> is required when using this field.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "LastUpdatedDateFilter",
          "in" : "query",
          "description" : "The date the chargeback record was updated in the Infinicept portal.",
          "required" : false,
          "type" : "string",
          "enum" : [ "All", "Today", "Yesterday", "ThisWeek", "ThisMonth", "ThisYear", "LastYear", "DateRange", "SpecificDate" ]
        }, {
          "name" : "LastUpdatedFromDate",
          "in" : "query",
          "description" : "<b>LastUpdatedDateFilter:DateRange</b> is required when using this field.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "LastUpdatedToDate",
          "in" : "query",
          "description" : "<b>LastUpdatedDateFilter:DateRange</b> is required when using this field.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "LastUpdatedSpecificDate",
          "in" : "query",
          "description" : "<b>LastUpdatedDateFilter:SpecificDate</b> is required when using this field.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "AccountStatus",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "Active", "HoldAllFunding", "Canceled", "WaitingForFirstTrans", "WaitingForFirstAuth", "Deleted" ]
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "DBAName",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "LegalEntityName",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "Mid",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "Id",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int32"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "Cobrand",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "Location",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "CurrentPage",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "PageSize",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "FieldName",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "SortOrder",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ChargebackPaginatedResponse"
            }
          }
        }
      }
    },
    "/{tenantId}/Chargebacks/{chargebackId}" : {
      "get" : {
        "tags" : [ "Chargebacks" ],
        "summary" : "Review a Single Chargeback",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "chargebackId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/Chargeback"
            }
          }
        }
      }
    },
    "/{tenantId}/Chargebacks/documents/{chargebackId}" : {
      "get" : {
        "tags" : [ "Chargebacks" ],
        "summary" : "Review a Chargeback's Documents",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "chargebackId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/ChargebackDocument"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Chargebacks" ],
        "summary" : "Upload Chargeback Document",
        "consumes" : [ "application/json-patch+json", "application/json", "text/json", "application/*+json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "chargebackId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/DocumentUpload"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/CommandInfoResponse"
            }
          }
        }
      }
    },
    "/{tenantId}/Chargebacks/documents/{chargebackId}/{documentId}" : {
      "get" : {
        "tags" : [ "Chargebacks" ],
        "summary" : "Review a Chargeback's Document",
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "chargebackId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "documentId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      }
    },
    "/{tenantId}/Chargebacks/documents/delete/{documentId}" : {
      "post" : {
        "tags" : [ "Chargebacks" ],
        "summary" : "Delete a Chargeback Document",
        "consumes" : [ "application/json-patch+json", "application/json", "text/json", "application/*+json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "documentId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/CommandInfoResponse"
            }
          }
        }
      }
    },
    "/{tenantId}/Chargebacks/messageblock/{chargebackId}" : {
      "post" : {
        "tags" : [ "Chargebacks" ],
        "summary" : "Create a Chargeback Member Message Block",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "chargebackId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AddNote"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/CommandInfoResponse"
            }
          }
        }
      }
    },
    "/{tenantId}/Chargebacks/messageblock/update/{messageBlockId}" : {
      "post" : {
        "tags" : [ "Chargebacks" ],
        "summary" : "Update a Chargeback Member Message Block",
        "consumes" : [ "application/json-patch+json", "application/json", "text/json", "application/*+json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "messageBlockId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AddNote"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/CommandInfoResponse"
            }
          }
        }
      }
    },
    "/{tenantId}/Chargebacks/messageblock/delete/{messageBlockId}" : {
      "post" : {
        "tags" : [ "Chargebacks" ],
        "summary" : "Delete a Chargeback Member Message Block",
        "consumes" : [ "application/json-patch+json", "application/json", "text/json", "application/*+json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "messageBlockId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/CommandInfoResponse"
            }
          }
        }
      }
    },
    "/{tenantId}/Chargebacks/changestatus/{chargebackId}" : {
      "post" : {
        "tags" : [ "Chargebacks" ],
        "summary" : "Change a Chargeback Status",
        "consumes" : [ "application/json-patch+json", "application/json", "text/json", "application/*+json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "chargebackId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "status",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "enum" : [ "Unassigned", "Assigned", "SubmerchantContacted", "DocumentationReceived", "DocumentationSentToProcessor", "CaseClosed" ]
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/CommandInfoResponse"
            }
          }
        }
      }
    },
    "/{tenantId}/Chargebacks/notes/{chargebackId}" : {
      "get" : {
        "tags" : [ "Chargebacks" ],
        "summary" : "Review a Chargeback Note",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "chargebackId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/ChargebackNote"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Chargebacks" ],
        "summary" : "Create a Chargeback Note",
        "consumes" : [ "application/json-patch+json", "application/json", "text/json", "application/*+json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "chargebackId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AddNote"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/CommandInfoResponse"
            }
          }
        }
      }
    },
    "/{tenantId}/Chargebacks/notes/update/{noteId}" : {
      "post" : {
        "tags" : [ "Chargebacks" ],
        "summary" : "Update Chargeback Note",
        "consumes" : [ "application/json-patch+json", "application/json", "text/json", "application/*+json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "noteId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AddNote"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/CommandInfoResponse"
            }
          }
        }
      }
    },
    "/{tenantId}/Chargebacks/notes/delete/{noteId}" : {
      "post" : {
        "tags" : [ "Chargebacks" ],
        "summary" : "Delete a Chargeback Note",
        "consumes" : [ "application/json-patch+json", "application/json", "text/json", "application/*+json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "noteId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/CommandInfoResponse"
            }
          }
        }
      }
    },
    "/{tenantId}/Chargebacks/notification/{settingsId}" : {
      "post" : {
        "tags" : [ "Chargebacks" ],
        "summary" : "Update Chargeback Notifications Setting",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "settingsId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/CommandInfoResponse"
            }
          }
        }
      }
    },
    "/{tenantId}/Chargebacks/notification/chargeback/{chargebackId}" : {
      "post" : {
        "tags" : [ "Chargebacks" ],
        "summary" : "Create a Notification to Submerchant for a Single Chargeback",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "chargebackId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "senderEmail",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/CommandInfoResponse"
            }
          }
        }
      }
    },
    "/{tenantId}/Chargebacks/history/{chargebackId}" : {
      "get" : {
        "tags" : [ "Chargebacks" ],
        "summary" : "Review Chargeback History",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "chargebackId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/ChargebackHistoryRecord"
              }
            }
          }
        }
      }
    },
    "/{tenantId}/commands/{commandFingerprint}" : {
      "get" : {
        "tags" : [ "Commands" ],
        "summary" : "Request Status of Queued Request",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "commandFingerprint",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/CommandInfoResponse"
            }
          }
        }
      }
    },
    "/api/Diagnostics/heartbeat" : {
      "get" : {
        "tags" : [ "Diagnostics" ],
        "summary" : "Diagnostics_GetHeartbeat",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      }
    },
    "/{tenantId}/fundinginstructions" : {
      "post" : {
        "tags" : [ "FundingInstructions" ],
        "summary" : "Create Deposit",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/CommandInfoResponse"
            }
          }
        }
      }
    },
    "/{tenantId}/fundinginstructions/paged" : {
      "get" : {
        "tags" : [ "FundingInstructions" ],
        "summary" : "Review Paginated Deposits",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "summaryOnly",
          "in" : "query",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "CurrentPage",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "PageSize",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "DateFilter",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "enum" : [ "All", "Today", "Yesterday", "ThisWeek", "ThisMonth", "ThisYear", "LastYear", "DateRange", "SpecificDate" ]
        }, {
          "name" : "FromDate",
          "in" : "query",
          "description" : "<b>DateFilter:DateRange</b> is required when using this field.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "ToDate",
          "in" : "query",
          "description" : "<b>DateFilter:DateRange</b> is required when using this field.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "SpecificDate",
          "in" : "query",
          "description" : "<b>DateFilter:SpecificDate</b> is required when using this field.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "Id",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int32"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "Status",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "New", "Submitted", "Funded", "PartiallyRejected", "Rejected" ]
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "SubmerchantId",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int32"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "Type",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "Transactions", "Fees", "BankTransfers", "ChargebackToOperatingTransfer", "AchReturnToOperatingTransfer" ]
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/FundingDepositPaginatedResponse"
            }
          }
        }
      }
    },
    "/{tenantId}/fundinginstructions/{depositId}" : {
      "get" : {
        "tags" : [ "FundingInstructions" ],
        "summary" : "Review Single Deposit",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "depositId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "summaryOnly",
          "in" : "query",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/FundingDeposit"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "FundingInstructions" ],
        "summary" : "Submit Deposit",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "depositId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "includeInactiveSubmerchants",
          "in" : "query",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/CommandInfoResponse"
            }
          }
        }
      }
    },
    "/{tenantId}/fundinginstructions/submerchantdeposits/{submerchantId}" : {
      "get" : {
        "tags" : [ "FundingInstructions" ],
        "summary" : "Review submitted deposits for a Submerchant.",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "submerchantId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "DateFilter",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "enum" : [ "All", "Today", "Yesterday", "ThisWeek", "ThisMonth", "ThisYear", "LastYear", "DateRange", "SpecificDate" ]
        }, {
          "name" : "DateFilterType",
          "in" : "query",
          "description" : "<b>ActivityDate:</b> Date/Time the transaction occurred with the merchant. \n\n <b>SettlementDate:</b> (TransactionSettlementDate in transaction record) Date/Time the transaction money is moved to the FBO/Submerchants accounts after settlement. Usually the same as ProcessedDate but not always. \n\n <b>SubmittedDate:</b> (SettlementDate in transaction record) Date/Time when funding instructions for this transaction were sent to processor to move purchase/refund money from FBO to submerchant accounts. \n\n <b>ProcessedDate:</b> Date/Time when the transaction was sent for processing. This has nothing to do with money movement, just information.",
          "required" : false,
          "type" : "string",
          "enum" : [ "ActivityDate", "SettlementDate", "SubmittedDate", "ProcessedDate" ]
        }, {
          "name" : "FromDate",
          "in" : "query",
          "description" : "<b>DateFilter:DateRange</b> is required when using this field.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "ToDate",
          "in" : "query",
          "description" : "<b>DateFilter:DateRange</b> is required when using this field.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "SpecificDate",
          "in" : "query",
          "description" : "<b>DateFilter:SpecificDate</b> is required when using this field.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "Id",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int32"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "Status",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "New", "Submitted", "Funded", "PartiallyRejected", "Rejected" ]
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "Type",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "Transactions", "Fees", "BankTransfers", "ChargebackToOperatingTransfer", "AchReturnToOperatingTransfer" ]
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "FundingDepositId",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int32"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "CurrentPage",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "PageSize",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/SubmerchantDepositPaginatedResponse"
            }
          }
        }
      }
    },
    "/{tenantId}/fundinginstructions/createandsubmit" : {
      "post" : {
        "tags" : [ "FundingInstructions" ],
        "summary" : "Review and Submit Deposits",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/CommandInfoResponse"
            }
          }
        }
      }
    },
    "/{tenantId}/fundinginstructions/bankaccounts" : {
      "get" : {
        "tags" : [ "FundingInstructions" ],
        "summary" : "View Bank Accounts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/TenantBankAccountResponse"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "FundingInstructions" ],
        "summary" : "Transfer Funds Between Accounts",
        "consumes" : [ "application/json-patch+json", "application/json", "text/json", "application/*+json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/BankAccountTransfer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/CommandInfoResponse"
            }
          }
        }
      }
    },
    "/{tenantId}/fundinginstructions/dailydeposits/paged/{submerchantId}" : {
      "get" : {
        "tags" : [ "FundingInstructions" ],
        "summary" : "View Daily Deposit by Submerchant",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "submerchantId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "DateFilter",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "enum" : [ "All", "Today", "Yesterday", "ThisWeek", "ThisMonth", "ThisYear", "LastYear", "DateRange", "SpecificDate" ]
        }, {
          "name" : "DateFilterType",
          "in" : "query",
          "description" : "<b>ActivityDate:</b> Date/Time the transaction occurred with the merchant. \n\n <b>SettlementDate:</b> (TransactionSettlementDate in transaction record) Date/Time the transaction money is moved to the FBO/Submerchants accounts after settlement. Usually the same as ProcessedDate but not always. \n\n <b>SubmittedDate:</b> (SettlementDate in transaction record) Date/Time when funding instructions for this transaction were sent to processor to move purchase/refund money from FBO to submerchant accounts. \n\n <b>ProcessedDate:</b> Date/Time when the transaction was sent for processing. This has nothing to do with money movement, just information.",
          "required" : false,
          "type" : "string",
          "enum" : [ "ActivityDate", "SettlementDate", "SubmittedDate", "ProcessedDate" ]
        }, {
          "name" : "FromDate",
          "in" : "query",
          "description" : "<b>DateFilter:DateRange</b> is required when using this field.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "ToDate",
          "in" : "query",
          "description" : "<b>DateFilter:DateRange</b> is required when using this field.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "SpecificDate",
          "in" : "query",
          "description" : "<b>DateFilter:SpecificDate</b> is required when using this field.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "CurrentPage",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "PageSize",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/DailySubmerchantDepositSummaryPaginatedResponse"
            }
          }
        }
      }
    },
    "/{tenantId}/fundingreturns" : {
      "get" : {
        "tags" : [ "FundingReturn" ],
        "summary" : "Review all Funding Returns/Failures",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Id",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int32"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "SourceDataFileId",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int32"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "Amount",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "number",
            "format" : "double"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "Fee",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "number",
            "format" : "double"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "Date",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "format" : "date-time"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "ReasonCode",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "AddendaInfo",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "DepositId",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int32"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "SubmerchantDepositId",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int32"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "SubmerchantId",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int32"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "SubmerchantName",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "SubmerchantDbaName",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "ReturnStatus",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "OnHold", "Resolved", "NotificationOfChange" ]
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "CurrentPage",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "PageSize",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "FieldName",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "SortOrder",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/FundingReturnPaginatedResponse"
            }
          }
        }
      }
    },
    "/{tenantId}/merchant/{submerchantId}" : {
      "get" : {
        "tags" : [ "Merchant" ],
        "summary" : "Review Submerchant Information",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "submerchantId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "includeUsers",
          "in" : "query",
          "required" : false,
          "type" : "boolean",
          "default" : true
        }, {
          "name" : "includeChildren",
          "in" : "query",
          "required" : false,
          "type" : "boolean",
          "default" : true
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/Submerchant"
            }
          }
        }
      }
    },
    "/{tenantId}/merchant/identifier/{submerchantIdentifier}" : {
      "get" : {
        "tags" : [ "Merchant" ],
        "summary" : "Review Submerchant Information by Identifier",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "submerchantIdentifier",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/Submerchant"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Merchant" ],
        "summary" : "Disable a Submerchant",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "submerchantIdentifier",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/CommandInfoResponse"
            }
          }
        }
      }
    },
    "/{tenantId}/merchant/paginated" : {
      "get" : {
        "tags" : [ "Merchant" ],
        "summary" : "View Paginated Submerchants",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "summaryOnly",
          "in" : "query",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "CurrentPage",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "PageSize",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "AccountStatus",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "Active", "HoldAllFunding", "Canceled", "WaitingForFirstTrans", "WaitingForFirstAuth", "Deleted" ]
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "DBAName",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "LegalEntityName",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "Mid",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "Id",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int32"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "Cobrand",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "Location",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "fundingSchedule",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "items" : { }
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Submerchant"
              }
            }
          }
        }
      }
    },
    "/{tenantId}/merchant/MIDSummariesPaginated" : {
      "get" : {
        "tags" : [ "Merchant" ],
        "summary" : "Review Paginated MID Summaries",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "CurrentPage",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "PageSize",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "noMID",
          "in" : "query",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "parentId",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "default" : "false",
          "format" : "int32"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/SubmerchantMIDSummaryPaginatedResponse"
            }
          }
        }
      }
    },
    "/{tenantId}/merchant/{submerchantId}/hold" : {
      "put" : {
        "tags" : [ "Merchant" ],
        "summary" : "Hold a Submerchant",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "submerchantId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/CommandInfoResponse"
            }
          }
        }
      }
    },
    "/{tenantId}/merchant/{submerchantId}/release" : {
      "put" : {
        "tags" : [ "Merchant" ],
        "summary" : "Release a Held Submerchant",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "submerchantId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/CommandInfoResponse"
            }
          }
        }
      }
    },
    "/{tenantId}/merchant/{submerchantId}/identifiers" : {
      "put" : {
        "tags" : [ "Merchant" ],
        "summary" : "Add Submerchant Boarding Ids",
        "consumes" : [ "application/json-patch+json", "application/json", "text/json", "application/*+json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "submerchantId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UpdateSubmerchantIDs"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/CommandInfoResponse"
            }
          }
        }
      }
    },
    "/{tenantId}/merchant/board" : {
      "post" : {
        "tags" : [ "Merchant" ],
        "summary" : "Board a Submerchant",
        "consumes" : [ "application/json-patch+json", "application/json", "text/json", "application/*+json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/BoardSubmerchantRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/CommandInfoResponse"
            }
          }
        }
      }
    },
    "/{tenantId}/merchant/firstauth" : {
      "post" : {
        "tags" : [ "Merchant" ],
        "summary" : "Update Merchant to First Auth",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "boolean"
            }
          }
        }
      }
    },
    "/{tenantId}/merchant/firsttrans" : {
      "post" : {
        "tags" : [ "Merchant" ],
        "summary" : "Update Merchant to First Transaction",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "boolean"
            }
          }
        }
      }
    },
    "/{tenantId}/pendingdeposits" : {
      "get" : {
        "tags" : [ "PendingDeposits" ],
        "summary" : "Review Unfunded Transaction Totals by Submerchant and Settled Date",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "SubmerchantId",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int32"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "FundingProgram",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "NextDay", "SameDay" ]
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "TransactionsSettledDate",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "format" : "date-time"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "CurrentPage",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "PageSize",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "FieldName",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "SortOrder",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "DateFilter",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "enum" : [ "All", "Today", "Yesterday", "ThisWeek", "ThisMonth", "ThisYear", "LastYear", "DateRange", "SpecificDate" ]
        }, {
          "name" : "DateFilterType",
          "in" : "query",
          "description" : "<b>ActivityDate:</b> Date/Time the transaction occurred with the merchant. \n\n <b>SettlementDate:</b> (TransactionSettlementDate in transaction record) Date/Time the transaction money is moved to the FBO/Submerchants accounts after settlement. Usually the same as ProcessedDate but not always. \n\n <b>SubmittedDate:</b> (SettlementDate in transaction record) Date/Time when funding instructions for this transaction were sent to processor to move purchase/refund money from FBO to submerchant accounts. \n\n <b>ProcessedDate:</b> Date/Time when the transaction was sent for processing. This has nothing to do with money movement, just information.",
          "required" : false,
          "type" : "string",
          "enum" : [ "ActivityDate", "SettlementDate", "SubmittedDate", "ProcessedDate" ]
        }, {
          "name" : "FromDate",
          "in" : "query",
          "description" : "<b>DateFilter:DateRange</b> is required when using this field.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "ToDate",
          "in" : "query",
          "description" : "<b>DateFilter:DateRange</b> is required when using this field.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "SpecificDate",
          "in" : "query",
          "description" : "<b>DateFilter:SpecificDate</b> is required when using this field.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "summaryOnly",
          "in" : "query",
          "required" : false,
          "type" : "boolean",
          "default" : true
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/PendingDepositPaginatedResponse"
            }
          }
        }
      }
    },
    "/{tenantId}/pendingdeposits/overviews" : {
      "get" : {
        "tags" : [ "PendingDeposits" ],
        "summary" : "Review Unfunded Transaction Totals Grouped by Funding Program Type",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/PendingDepositsOverview"
              }
            }
          }
        }
      }
    },
    "/{tenantId}/pendingdeposits/overviews/{fundingProgramId}" : {
      "get" : {
        "tags" : [ "PendingDeposits" ],
        "summary" : "Review Unfunded Transaction Summary by Funding Program Type",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "fundingProgramId",
          "in" : "path",
          "description" : "0 NextDay, 1 SameDay",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "CurrentPage",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "PageSize",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "FieldName",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "SortOrder",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "DateFilter",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "enum" : [ "All", "Today", "Yesterday", "ThisWeek", "ThisMonth", "ThisYear", "LastYear", "DateRange", "SpecificDate" ]
        }, {
          "name" : "DateFilterType",
          "in" : "query",
          "description" : "<b>ActivityDate:</b> Date/Time the transaction occurred with the merchant. \n\n <b>SettlementDate:</b> (TransactionSettlementDate in transaction record) Date/Time the transaction money is moved to the FBO/Submerchants accounts after settlement. Usually the same as ProcessedDate but not always. \n\n <b>SubmittedDate:</b> (SettlementDate in transaction record) Date/Time when funding instructions for this transaction were sent to processor to move purchase/refund money from FBO to submerchant accounts. \n\n <b>ProcessedDate:</b> Date/Time when the transaction was sent for processing. This has nothing to do with money movement, just information.",
          "required" : false,
          "type" : "string",
          "enum" : [ "ActivityDate", "SettlementDate", "SubmittedDate", "ProcessedDate" ]
        }, {
          "name" : "FromDate",
          "in" : "query",
          "description" : "<b>DateFilter:DateRange</b> is required when using this field.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "ToDate",
          "in" : "query",
          "description" : "<b>DateFilter:DateRange</b> is required when using this field.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "SpecificDate",
          "in" : "query",
          "description" : "<b>DateFilter:SpecificDate</b> is required when using this field.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/PendingDepositDailyOverviewPaginatedResponse"
            }
          }
        }
      }
    },
    "/{tenantId}/pendingdeposits/submerchant-overviews/{fundingProgramId}" : {
      "get" : {
        "tags" : [ "PendingDeposits" ],
        "summary" : "Review Unfunded Transaction Summary by Submerchant",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "fundingProgramId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "CurrentPage",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "PageSize",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "sortOrder",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "DateFilter",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "enum" : [ "All", "Today", "Yesterday", "ThisWeek", "ThisMonth", "ThisYear", "LastYear", "DateRange", "SpecificDate" ]
        }, {
          "name" : "DateFilterType",
          "in" : "query",
          "description" : "<b>ActivityDate:</b> Date/Time the transaction occurred with the merchant. \n\n <b>SettlementDate:</b> (TransactionSettlementDate in transaction record) Date/Time the transaction money is moved to the FBO/Submerchants accounts after settlement. Usually the same as ProcessedDate but not always. \n\n <b>SubmittedDate:</b> (SettlementDate in transaction record) Date/Time when funding instructions for this transaction were sent to processor to move purchase/refund money from FBO to submerchant accounts. \n\n <b>ProcessedDate:</b> Date/Time when the transaction was sent for processing. This has nothing to do with money movement, just information.",
          "required" : false,
          "type" : "string",
          "enum" : [ "ActivityDate", "SettlementDate", "SubmittedDate", "ProcessedDate" ]
        }, {
          "name" : "FromDate",
          "in" : "query",
          "description" : "<b>DateFilter:DateRange</b> is required when using this field.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "ToDate",
          "in" : "query",
          "description" : "<b>DateFilter:DateRange</b> is required when using this field.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "SpecificDate",
          "in" : "query",
          "description" : "<b>DateFilter:SpecificDate</b> is required when using this field.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "submerchantId",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int32"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/PendingDepositSubmerchantOverviewPaginatedResponse"
            }
          }
        }
      }
    },
    "/{tenantId}/pendingdeposits/hold" : {
      "put" : {
        "tags" : [ "PendingDeposits" ],
        "summary" : "Hold Deposit From Funding",
        "consumes" : [ "application/json-patch+json", "application/json", "text/json", "application/*+json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PendingDepositsFilter"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/CommandInfoResponse"
            }
          }
        }
      }
    },
    "/{tenantId}/pendingdeposits/release" : {
      "put" : {
        "tags" : [ "PendingDeposits" ],
        "summary" : "Release Deposit For Funding",
        "consumes" : [ "application/json-patch+json", "application/json", "text/json", "application/*+json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PendingDepositsFilter"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/CommandInfoResponse"
            }
          }
        }
      }
    },
    "/{tenantId}/riskexceptions" : {
      "get" : {
        "tags" : [ "RiskException" ],
        "summary" : "View All Exception Reports",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Id",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int32"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "Resolved",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "boolean"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "SubmerchantId",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int32"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "BatchId",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int32"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "AffectedTransactionId",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int32"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "DefinitionId",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int32"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "ExceptionLogicType",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "Unknown", "FirstTransactionProcessed", "TransactionOverMaximum", "DailyDepositOverMaximum", "ForeignCardPercentageOverLimit", "MultipleRefundsToSameCard", "ExcessiveRefundVolumeInBatch", "ExcessiveRefundCountPercentage", "ExcessivePercentageOfKeyedTransactions", "OutOfPatternLowDollarTransaction", "RefundGreaterThanMaxAllowed", "RefundWithoutOffsettingSale", "ExcessiveForcedTransactions", "FallbackTransaction", "HighPercentageOfChargebacks", "LargeChargeback", "RefundAfterChargeback", "ProcessingApproachingApprovedMonthlyLimit", "ExcessiveProcessing", "DormantSubmerchantActive", "MultipleAuthorizationsToSameCard", "MultipleSettledTransactionsToSameCard", "IndividualTicketGreaterThanDollarAmount", "HighPercentageOfRetrievals", "LargeRetrieval", "SameDollarAmountInBatch", "TotalDailyAuthorizationCountOverMaximum", "DeclinedDailyAuthorizationOverMaximumPercent", "LowDollarBatch", "AuthorizationDuringAbnormalHours", "TransactionDuringAbnormalHours", "OutOfPatternDailyAuthorizationCount" ]
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "ExceptionDate",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "format" : "date-time"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "CurrentPage",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "PageSize",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "FieldName",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "SortOrder",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "DateFilter",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "enum" : [ "All", "Today", "Yesterday", "ThisWeek", "ThisMonth", "ThisYear", "LastYear", "DateRange", "SpecificDate" ]
        }, {
          "name" : "DateFilterType",
          "in" : "query",
          "description" : "<b>ActivityDate:</b> Date/Time the transaction occurred with the merchant. \n\n <b>SettlementDate:</b> (TransactionSettlementDate in transaction record) Date/Time the transaction money is moved to the FBO/Submerchants accounts after settlement. Usually the same as ProcessedDate but not always. \n\n <b>SubmittedDate:</b> (SettlementDate in transaction record) Date/Time when funding instructions for this transaction were sent to processor to move purchase/refund money from FBO to submerchant accounts. \n\n <b>ProcessedDate:</b> Date/Time when the transaction was sent for processing. This has nothing to do with money movement, just information.",
          "required" : false,
          "type" : "string",
          "enum" : [ "ActivityDate", "SettlementDate", "SubmittedDate", "ProcessedDate" ]
        }, {
          "name" : "FromDate",
          "in" : "query",
          "description" : "<b>DateFilter:DateRange</b> is required when using this field.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "ToDate",
          "in" : "query",
          "description" : "<b>DateFilter:DateRange</b> is required when using this field.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "SpecificDate",
          "in" : "query",
          "description" : "<b>DateFilter:SpecificDate</b> is required when using this field.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/RiskException"
              }
            }
          }
        }
      }
    },
    "/{tenantId}/riskexceptions/paginated" : {
      "get" : {
        "tags" : [ "RiskException" ],
        "summary" : "View Paginated Exception Reports",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-AuthenticationKeyId",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-AuthenticationKeyValue",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Id",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int32"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "Resolved",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "boolean"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "SubmerchantId",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int32"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "BatchId",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int32"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "AffectedTransactionId",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int32"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "DefinitionId",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int32"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "ExceptionLogicType",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "Unknown", "FirstTransactionProcessed", "TransactionOverMaximum", "DailyDepositOverMaximum", "ForeignCardPercentageOverLimit", "MultipleRefundsToSameCard", "ExcessiveRefundVolumeInBatch", "ExcessiveRefundCountPercentage", "ExcessivePercentageOfKeyedTransactions", "OutOfPatternLowDollarTransaction", "RefundGreaterThanMaxAllowed", "RefundWithoutOffsettingSale", "ExcessiveForcedTransactions", "FallbackTransaction", "HighPercentageOfChargebacks", "LargeChargeback", "RefundAfterChargeback", "ProcessingApproachingApprovedMonthlyLimit", "ExcessiveProcessing", "DormantSubmerchantActive", "MultipleAuthorizationsToSameCard", "MultipleSettledTransactionsToSameCard", "IndividualTicketGreaterThanDollarAmount", "HighPercentageOfRetrievals", "LargeRetrieval", "SameDollarAmountInBatch", "TotalDailyAuthorizationCountOverMaximum", "DeclinedDailyAuthorizationOverMaximumPercent", "LowDollarBatch", "AuthorizationDuringAbnormalHours", "TransactionDuringAbnormalHours", "OutOfPatternDailyAuthorizationCount" ]
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "ExceptionDate",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "format" : "date-time"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "CurrentPage",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "PageSize",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "FieldName",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "SortOrder",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "DateFilter",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "enum" : [ "All", "Today", "Yesterday", "ThisWeek", "ThisMonth", "ThisYear", "LastYear", "DateRange", "SpecificDate" ]
        }, {
          "name" : "DateFilterType",
          "in" : "query",
          "description" : "<b>ActivityDate:</b> Date/Time the transaction occurred with the merchant. \n\n <b>SettlementDate:</b> (TransactionSettlementDate in transaction record) Date/Time the transaction money is moved to the FBO/Submerchants accounts after settlement. Usually the same as ProcessedDate but not always. \n\n <b>SubmittedDate:</b> (SettlementDate in transaction record) Date/Time when funding instructions for this transaction were sent to processor to move purchase/refund money from FBO to submerchant accounts. \n\n <b>ProcessedDate:</b> Date/Time when the transaction was sent for processing. This has nothing to do with money movement, just information.",
          "required" : false,
          "type" : "string",
          "enum" : [ "ActivityDate", "SettlementDate", "SubmittedDate", "ProcessedDate" ]
        }, {
          "name" : "FromDate",
          "in" : "query",
          "description" : "<b>DateFilter:DateRange</b> is required when using this field.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "ToDate",
          "in" : "query",
          "description" : "<b>DateFilter:DateRange</b> is required when using this field.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "SpecificDate",
          "in" : "query",
          "description" : "<b>DateFilter:SpecificDate</b> is required when using this field.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
[...]
